<!DOCTYPE>
<html>
    <head>
        <title>Fiche d'adhesion</title>
    </head>
    <style>
        body{
            background: white;
        }
        #cadre{
            margin:10px;
            padding: 10px;
            border: 5px double black;
            height: 28cm;
        }
        #table-body td{
            text-align: right;
            padding: 7px;
            width: 4.5cm;
            text-transform: uppercase;
            font-style: italic;
            font-size: 13px;
            font-family: "Open Sans", sans-serif;
        }
        #table-body td:nth-child(even){
            text-align: left;
        }
        #table-body{
            margin-top: 1.5cm;
        }

    </style>
<body>
<div id="cadre">
    <table width="100%">
        <tr>
            <td>
                <img src="../assets/img/rdc-flag.png" width="10%">
            </td>
            <td style="text-align: center">
                <h5>REPUBLIQUE DEMOCRATIQUE DU CONGO
                    </h5>
                <h5>ASBL  MEDECINS DES ORPHELINS ET ENFANTS VULNERABLES (M.O.E.V)</h5>
            </td>
            <td>
                <img src="../assets/img/logo.jpeg" width="14%">
            </td>
        </tr>
    </table>
    <div style="margin-top: 1cm">
        <h3 style="text-align: center;margin-bottom: 0px">FORMULAIRE D’ADHESION</h3>
        <hr>
    </div>
    <table width="100%" id="table-body">
        <tr>
            <td style="text-align: right">Nom : </td>
            <td>.........................................................................................</td>
            <td rowspan="13" style="width: 5cm;text-align: center">
            </td>
        </tr>
        <tr>
            <td>Post nom : </td>
            <td>.........................................................................................</td>
        </tr>
        <tr>
            <td>Prénom : </td>
            <td>.........................................................................................</td>
        </tr>
        <tr>
            <td>Sexe : </td>
            <td>.........................................................................................</td>
        </tr>
        <tr>
            <td>Nationalité : </td>
            <td>.........................................................................................</td>
        </tr>
        <tr>
            <td>état civil : </td>
            <td>.........................................................................................</td>
        </tr>
        <tr>
            <td>Lieu de naissance : </td>
            <td>.........................................................................................</td>
        </tr>
        <tr>
            <td>Date de naissance : </td>
            <td>............../.............../..........................................................</td>
        </tr>
        <tr>
            <td>Adresse : </td>
            <td>.........................................................................................</td>
        </tr>
        <tr>
            <td></td>
            <td>.........................................................................................</td>
        </tr>
        <tr>
            <td>Téléphone : </td>
            <td>.........................................................................................</td>
        </tr>
        <tr>
            <td>Email : </td>
            <td>.........................................................................................</td>
        </tr>
        <tr>
            <td>Facebook : </td>
            <td>.........................................................................................</td>
        </tr>
        <tr>
            <td>Profession : </td>
            <td>.........................................................................................</td>
        </tr>
    </table>
    <div style="position: absolute;float: right;top:0px;text-align:center;margin-top: -11.2cm">
        <div style="border: 2px solid black;width: 4cm;height: 5cm;margin-left: 15cm">
            <p><br><br><br>
                2 PHOTOS D'IDENTITE
            </p>
        </div>
    </div>

</div>

</body>
</html>