<div style="padding: 15px;text-align: center">
    <hr style="margin-bottom: 2px">
    <p style="line-height: 16px;font-size: 10px">ASBL  MEDECINS DES ORPHELINS ET ENFANTS VULNERABLES (M.O.E.V)<br>
        1459, Boulevard du 30 juin, Commune de la Gombe.<br>
        Téléphone:(+243) 82 080 13 03 - (+243) 85 611 79 19 - (+243) 900 88 39 09<br>
        medecinsdesorphelins@gmail.com
    </p>
</div>